.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 200px;

  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;

  
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

.card-image {
  height: 200px;
  width: 200px;

  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 10px;
}

.card-content {
  width: 100%;
}

.card h3 {
  max-width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  max-width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 12px;
  margin-bottom: 5px;
}

.card-button {
  margin-top: 20px;
  padding: 12px 16px;
cursor:pointer;
  font-weight: bold;
  text-decoration: none;

  background-color: white;
  border: none;
  border-radius: 100px;
}

h3,
p {
  color: white;
  text-decoration: none;
}

.popular-radios-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 25%;
  margin-right:20px;
  margin-left:20px;
}

.link-radio-detail {
  text-decoration: none;
  color:orange;
  cursor:pointer;
}
