.card-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
   
}