.explore-page {
  font-family: "Roboto", sans-serif;
  padding: 30px 0;
}

.explore-categories {
  width: 80%;
  padding: 0 60px 0 0;

  display: flex;
  justify-content: space-around;

  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.explore-category {
  max-width: 33%;
  padding: 20px;
}

.explore-category-info h1 {
  margin: 0 0 16px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
}

.genre-list .genre {
  margin-right: 4px;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 200px;

  font-size: 0.8rem;
  font-weight: bolder;
  color: white;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.genre-list .red-genre {
  background-color: rgb(203, 27, 27);
  color: white;
}

.genre-list .green-genre {
  background-color: rgb(12, 228, 59);
  color: black;
}

.genre-list .yellow-genre {
  background-color: yellow;
  color: black;
}

.genre-list .purple-genre {
  background-color: purple;
  color: white;
}

.genre-list .blue-genre {
  background-color: blue;
  color: white;
}

.radios-cards {
  padding: 0 20px;
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
}

.radio-card-wrapper {
  flex-basis: 25%;
}

.radio-card-link {
  text-decoration: none;
}

.popular-button {
 
  background-color: rgb(255, 255, 0);
  border: 0;
  border-radius: 20px;
  height: 25px;
  width: 80px;
  padding:10px;
  text-decoration: none;
  color:black;
}


