.search-bar {
    display: flex;
    align-items: center;
  
    padding: 6px 10px;
  
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
  }
  
  .rounded-input {
    padding: 0;
    font-size: 16px;
    outline: none;
    border: none;
    margin-right: 10px;
    width: 250px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor:pointer;
   
    
    display: flex;
    align-items: center;
  }
  
  .magnifyingglass {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: #000000;
  }
  
  @media (max-width: 600px) {
    .rounded-input {
      font-size: 14px;
    }
    
    .magnifyingglass {
      width: 16px;
      height: 16px;
    }
  }
  