@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');


.door-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.door {
  display: block;
  max-width: 100%;
  height: auto;

}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.login-signup-forms {
  color: #fffb00;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 40%;
}

.login-signup-forms label {
  margin-bottom: 10px;
  

}

 .login-signup-forms button {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 20px;

}

.login-signup-forms input[type="text"],
.login-signup-forms input[type="email"],
.login-signup-forms input[type="password"] {

  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.button-forms {
  position:relative;
}



.button-forms img {
  cursor:pointer;
  width: 60%;
  margin-top: 20px;
  animation: spin 4s linear infinite;
  
}

.signup-button {
 
  background-color: rgb(255, 255, 0);
  border: 0;
  border-radius: 20px;
  height: 25px;
  width: 80px;
  padding:10px;

  text-decoration: none;
  color:black;
}