@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');
*{
  font-family: 'Courier New', Courier, monospace;
}

.door-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
  }

  .door {
    display: block;
    max-width: 100%;
    height: auto;
  }

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .login-signup-forms {
    color:#ffff;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }