* {
  font-family: "roboto";
  text-decoration: none;
}

.profile-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 200px;
  margin-top: 28px;
  margin-left: 0px;
  padding: 50px;
  line-height: 50px;
}

.profile-form label {
  font-size: 20px;
  font-weight: bold;
}

.profile-input {
  border: none;
  border-radius: 8px 8px 8px 8px;
  height: 24px;
}

.edit-profile-button {
  margin-top: 20px;
  height: 30px;
  background-color: #00ffa3;
  border-radius: 12px;
  border: none;
}

.user-picture {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 100px;
  height: 100px;
}

.profile-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 200px;
  padding: 50px;
}

.profile-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orange;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.favorite-radios {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  width: 30%;
  color: yellow;
  line-height: 5px;
}

.big-container {
  display: flex;
  position: relative;
  height: 100%;
}

p {
}

 h1 {
  text-decoration: underline;
  text-underline-offset: 5px;
  
}

a {
  color: black;
}

.station {
  background-color: orange;
  border-radius: 50px;
  width: 500px;
  height: 50px;
  line-height: 0px;
  margin-top: 20px;
  margin-left: -100px;
  color: black;
  justify-content: space-around;

  background-color:  orange;

  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.station h3 {
    color:black;
    
}
