*{
font-family: "roboto";
text-decoration: none;
}

.profile-div{
display: flex;
flex-direction: column;
background-color: orange;
height: 100%;
width: 30%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.profile-form {
    display: flex;
    float: left;
    justify-content: flex-start;
    justify-self: flex-start;
    justify-items: flex-start;
    text-align: center;
    flex-direction: column;
    width: 200px;
    margin-top: 16px;
    margin-left: 0px;
    padding: 50px;
    line-height: 50px;
    padding-bottom: 30%;

}

.profile-form label{
   
font-size: 20px;
font-weight: bold;
} 

.profile-input {
    border:none;
    border-radius: 8px 8px 8px 8px;
    height: 24px;
}


.edit-profile-button{
    margin-top: 20px;
    height: 30px;
    background-color: #00FFA3;
    border-radius: 12px;
    border: none;
}

.user-picture {
    position:absolute;
    top:15%;
    left:11%;
    width: 100px;
    height:100px;
}

.favorite-radios{
    background-color: black;
    display: flex;
    margin-left: 100%;
    margin-top: 0%;
    flex-direction: row;
    text-align: center;
    height: 100%;
    padding: 50px;
    width: 90%;
    color: yellow;
    line-height: 5px;

}
