* {
  font-family: "roboto";
}

.profile-div {
  display: flex;
  background-color: orange;
  height: 100%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-form {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 200px;
  margin-top: 16px;
  padding: 50px;
  line-height: 50px;
  padding-bottom: 30%;
}

.profile-form label {
  font-size: 20px;
  font-weight: bold;
}

.profile-input {
  border: none;
  border-radius: 8px 8px 8px 8px;
  height: 24px;
}

.edit-profile-button {
  margin-top: 20px;
  height: 30px;
  background-color: #00ffa3;
  border-radius: 12px;
  border: none;
}

.user-picture {
    position:absolute;
    top:15%;
    left:11%;
    width: 100px;
    height:100px;
}

.favorites-collection {
  width: 20%;
  padding: 0 60px 0 0;
  position: absolute;
  top: 30%;
  left: 28%;
  display: flex;

  justify-content: space-around;

  background-color:  #00ffa3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.title-collection {
  width: 20%;
  height:20%;
  padding: 16px 60px 0 0;
  position: absolute;
  top: 7%;
  left: 28%;
  display: flex;
  justify-content: space-around;
  background-color: orange;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); */
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
