.radio-page {
  display: flex;
  width: 60%;
  height: 100%;
  margin: 10px 0px;
 box-shadow: 10px 5px 15px rgba(0,0,0, 0.5);
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  background-color: rgba(0, 0, 0, .85);
}

.info-radio-details {
  display: flex;

  padding: 30px;
  margin-right: 50px;

  flex-direction: column;
  font-family: "Roboto";
  color: white;
}

.info-radio-image {
  width: 150px;
  height: 150px;
}

.form-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.comments-container {
  padding: 30px;
}

.comments-container-title {
  margin-bottom: 0;

  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  white-space: break-spaces;
  color:white;
}

.comments {
  display: flex;
  flex-direction: column;
  color: white;
}

.favorites-button {
  cursor:grab;
  background-color: rgb(255, 255, 0);
  border: 0;
  border-radius: 20px;
  height: 50px;
  width: 100px;;
  margin-bottom: 5px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.star{
   width: 20px;
   padding-right: 20px;   
}