/* Homepage styles */

html,
body {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;

  background-image: url(/public/homepage6.png);
  background-size:cover;
}


#root,
.app {
  height: 100%;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
}

