html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-image: url(/public/homepage6.png);
  background-size:cover;
}


#root,
.app {
  height: 100%;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
}



/* Apply styles for screens smaller than 768px */

/* @media only screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
  
 
}

/* Apply styles for screens larger than 768px */
/* @media only screen and (min-width: 768px) {
  .header {
    height: 100px;
  }
  

} 
  */




